<h4>Internal Server Error</h4>
@if (error) {
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeeing this error then Angular is not to blame!</p>
    <p>What to do next?</p>
    <ol>
        <li>Open Dev Tools and check the failing network request in the network tab.</li>
        <li>Examine the URL of the failing request.</li>
        <li>Reproduce the error in Postman - If you can, then it is a Server-Side, not an Angular issue.</li>
    </ol>
    <p class="font-weight-bold">Following the stack trace - The first 2 lines will tell you where to look!</p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
}